body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #555555;
    background-color: rgb(231, 231, 196);

}
li {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
a {
    color: maroon;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: blue;
}
ul {
    list-style-type: none;
    padding: 10;
}
p {margin: 0 0 15px;}
.resumeListHeading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify{text-align: justify;}

.homebg {
    background-image: url('../Images/stats_background.jpg');
    background-position: bottom right;
    background-repeat: repeat;
}
.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: gray;

    /* border: gray 1px solid; */
}

.box2 {
    padding: 5px;
}

.box3 {
    margin: 50px;
}




